@import "tailwindcss";
@tailwind utilities;

@layer components {
    /* Titulo de sección */
    .section-title {
        @apply text-xl sm:text-2xl md:text-3xl font-bold tracking-[1.5px] text-center;
    }

    /* --- Header --- */
    .nav-item {
        @apply relative py-4 md:py-6 cursor-pointer;
    }

    .nav-dropdown {
        @apply absolute top-full left-0 w-40 sm:w-52 bg-black opacity-0 invisible
        group-hover:opacity-100 group-hover:visible
        transition-opacity duration-300 pt-4 pb-6 sm:pt-5 sm:pb-8 z-10;
    }

    .nav-dropdown-line {
        @apply absolute top-[6px] sm:top-[8px] h-0.5 bg-white w-0
        group-hover:w-full transition-all duration-300;
    }

    .nav-dropdown-item {
        @apply px-4 sm:px-6 py-1 hover:text-gray-400 transition-colors;
    }

    .user-nav-link {
        @apply text-gray-400 hover:text-white transition-colors text-xs sm:text-sm;
    }

    /* --- Productos --- */
    .product-card {
        @apply text-center;
    }

    .products-grid-4 {
        @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 sm:gap-8 mx-3 sm:mx-5;
    }

    /* Nombre de producto */
    .product-title {
        @apply mt-2 sm:mt-4 inline-block text-xs sm:text-sm md:text-base font-bold tracking-[1.5px];
    }

    /* Precio de producto */
    .product-price {
        @apply mt-1 sm:mt-2 text-xs sm:text-sm md:text-base font-bold tracking-[1.5px];
    }

    /* Color de producto */
    .color-dot {
        @apply flex mx-auto mt-2 sm:mt-4 rounded-full h-3 w-3 sm:h-4 sm:w-4 shadow-[0_0_0_2px_white] sm:shadow-[0_0_0_3px_white] cursor-pointer
        hover:shadow-[0_0_0_3px_white,0_0_0_4px_theme(colors.black.400)];
    }

    /* --- Footer --- */
    .footer-link {
        @apply hover:text-gray-400 transition-colors;
    }

    /* Links */
    .link a {
        @apply font-bold underline text-black;
    }
}

/* Animación de página */
@layer base {
    body {
        opacity: 0;
        animation: fadeIn 1s ease forwards;
    }
}

/* Transiciones */
@keyframes fadeIn {
    to { opacity: 1; }
}
@keyframes zoomIn {
    from { opacity: 0; transform: scale(1.2); }
    to { opacity: 1; transform: scale(1); }
}

/* Animación Banner */
.banner-animation {
    opacity: 0;
    transform: scale(1.2);
    animation: zoomIn 2s ease forwards;
}

/* Tamaño imágenes cuadradas */
.product-image-hover {
    @apply relative w-full overflow-hidden bg-center bg-cover cursor-pointer;
    aspect-ratio: 1 / 1;
}

/* .product-image-hover::after {
    content: "";
    @apply absolute inset-0 bg-cover bg-center opacity-0 transition-opacity duration-300;
    background-image: var(--img2);
}

.product-image-hover:hover::after {
    @apply opacity-100;
} */
